.coffee-broken{
    width: 150px;
    height: 90px;
    margin: 0 auto 20px;
    position: relative;
}

.cup-left,
.cup-right{
    position: absolute;
    bottom: 0;
    width: 65px;
    height: 55px;
    background: #4e342e;
    border-radius: 0 0 25px 25px;
}

.cup-left{
    left: 12px;
    transform: rotate(-10deg);
}

.cup-right{
    right: 12px;
    transform: rotate(10deg);
}

.cup-right::after{
    content: "";
    position: absolute;
    right: -22px;
    top: 12px;
    width: 25px;
    height: 25px;
    border: 6px solid #4e342e;
    border-left: none;
    border-radius: 50%;
}

.coffee-drop{
    position: absolute;
    bottom: -8px;
    left: 65px;
    width: 28px;
    height: 10px;
    background: #8b5e3c;
    border-radius: 50%;
}

.crack{
    position: absolute;
    top: 8px;
    left: 72px;
    width: 2px;
    height: 70px;
    background: #f8f5f2;
    transform: rotate(18deg);
}